<h3>Groups For This Cohort</h3>
<div ng-if="groupsCtrl.groups.length === 0">
  <h4>This Cohort Has No Groups</h4>
</div>

<div ng-if="groupsCtrl.groups.length !== 0">
  <label for="query">Filter By Student Name</label>
  <input type="text" ng-model="query">
  <button type="button" class="btn btn-primary" ng-click="groupsCtrl.createGroups('2')">Create Pair Programming Groups</button>
  <ul>
    <div ng-repeat="group in groupsCtrl.groups | filter:query | orderBy: group.code">
      <li>{{ group.code }}</li>
        <ul>
          <div ng-repeat="student in group.students">
            {{ student.name }}
          </div>
        </ul>
    </div>
  </ul>
</div>
